/* usar o * ele aplica em tudo no site */
/*recomendado procurar fontes do google fonts*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:  #263138;
    
}

header{
     background-color: #ff9a6c;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 80px;
     padding-right: 80px;
     padding-top: 24px;
     padding-bottom: 24px;
}

/*aqui ele ta pegando o [a] que esta no header e dentro do nav por causa disso o nav e header esta antes do [a]*/

header nav a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
    animation: GrowPulse 0.8s infinite alternate; 
}

@keyframes  GrowPulse{
  from{
    transform: translateY(0) scale(1);
  }to{
    transform: translateY(-8px) scale(1.1);
  }
}

 #inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    /*topo,direita,baixo, esquerda*/
    padding: 24px 80px 128px 80px;
    position: relative;
 }
 
 h1,
 h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
 }

 .paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
 }
 .botao {
    background-color: #ff725e;
    /* vertical, horizontal*/
    padding: 16px 32px;
    border-radius: 8px;
    text-decoration: none;
 }
  .botao-transparente {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
  }
   
  .absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*para a imagem ficar para tras do elemento*/
    z-index: -10;
  }

  #clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
  }
   #clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
   }
    
   #farmacia{
    padding: 64px 80px;
    text-align: center;
   }

   #farmacia img{
    margin: 64px auto;
   }
    
   #farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;
   }

   #duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
   }

    .duvida{
        position: relative;
    }

   .duvida h3{
     border: 2px solid #ff725e;
     border-radius: 8px;
     cursor: pointer;
     padding: 24px;
   }

   .duvida img{
    position: absolute;
    top: 32px;
    right: 24px;
   }
   
   .duvida .paragrafo{
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 24px;
   }

   footer{
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
   }
    
   .footer img,
   .footer .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
   }

   footer nav a{
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p{
    margin bottom: 16px;
    max-width: 350px;
   }

   footer p a{
    color: #263138;
    text-decoration: none;
   }
   
   #copyright{
    background-color: #263138;
    color: #ffffff;
    padding: 24px;
    text-align: center;
   }
   
   #copyright a {
    color: #ff725e;
   }